#allCharacters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#allFilter{
    width: 20%;
}

.cont03{
    width: 100%;
    max-width: 150px;
    background: #1A1A1A;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.image_characters{
    width: 100%;
}

.name{
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.species{
    font-size: 16px;
    color: white;
}

#seeMore {
    width: 100%;
    max-width: 300px;
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: #00ff00;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;  
}
#seeMore:hover {
    background-color: green;
    border: 2px solid green;
    color: black;
}

/*-----------------------------------------------MODAL---------------------------------*/

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 0, 0.452);
}

.contenido-modal{
    position: relative;
    background-color: black;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}

.close{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.close:hover {
    color: #00ff00;
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
    padding: 20px;
    background: #1A1A1A;
}

.infoPersoanje{
    background: red;
    padding: 20px;
}

.btnEpisodios{
    width: 100%;
    max-width: 300px;
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: #00ff00;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
}

.btnEpisodios:hover {
    background-color: green;
    border: 2px solid green;
    color: black;
}

