* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: url(../img/fondo.png); 
}

header{
    width: 100%;
    height: 80px;
    background: black;
    color: white;
    padding: 10px;
    font-family: 'Special Elite', cursive; 
}

.image-logo{
    float: left;
}

/*-------------MENU----------*/

#menu-bar{
    display: none;   
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 150vh;
    background: black;
    transition: all 0.9s;
    transform: translateX(100%);
}

.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid rgb(0, 255, 0);
}
    
.menu a:hover{
    background: rgba(0, 255, 0, 0.5);
    color: black;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

.menu ul{
    list-style: none;
}

.menu ul ul{
    display: none;
}

.menu a span {
    margin-left: 10px;
}

.menu ul li:hover ul{
    display: none;
}

/*--------------------------------------BUSCADOR-------------------------------*/
.menu .buscador{
    text-align: right;
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 255, 0);
}

.buscador input{
    font-family: 'Special Elite', cursive;
    transform: translateY(-20%);
    background-color: #1A1A1A;
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 15px;
}
/*--------------------------------------BANNER-------------------------------*/

.banner {
    margin-top: 20px;
    text-align: center;
}
.banner img{
    width: 100%;
    max-width: 150px;
}

.banner2{
    margin: 0;
    text-align: center;
}

.banner2 img{
    width: 100%;
    max-width: 300px;
}

/*--------------------------------------------FOOTER-------------------------------*/

.cont02{
    width: 100%;
    height: 120px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    padding: 20px 20px;
    margin: 0;
}

/*---------------------FICHA POR PERSONAJE--------------------*/

#fileCharacters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont03{
    width: 100%;
    max-width: 150px;
    background: #1A1A1A;
    margin: 10px;
    padding: 20px;
    text-align: center;
    list-style:none;

}

.cont03:hover{
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20%{
        transform: translateY(-6px);
    }

    40%{
        transform: translateY(0px);
    }

    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(-0px);
    }
}

.imgCharacteres{
    width: 100%;
}

.name{
    font-size: 16px;
    margin: 10px 0 0 0;
}

.species{
    font-size: 16px;
    color: white;
}

#seeMore {
    width: 100%;
    max-width: 300px;
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: #00ff00;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}
#seeMore:hover {
    background-color: green;
    border: 2px solid green;
    color: black;
}

/*-----------------------------------------------MODAL---------------------------------*/
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 0, 0.452);
}


.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.contenido-modal{
    position: relative;
    background-color: #1A1A1A;
    margin: auto;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}

.close{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.close:hover {
    color: #00ff00;
    text-decoration: none;
    cursor: pointer;
}

.name{
    color: #00ff00;
    font-size: 20px;
}

.nameModal{
    color: #00ff00;
    font-size: 15px;
    font-family:'Special Elite', cursive;
}

small{
    color: #808080;
    font-size: 15px;
}

.textModal{
    color: whitesmoke;
    font-size: 15px;
}

.text{
    color: whitesmoke;
    font-size: 18px;
}

.modal-header{
    padding: 20px;
    background: black;
}

.infoPersonaje{
    background: #1A1A1A;
    text-align: left;
    padding: 0px 20px 20px 20px;
}

.imgPersonaje{
    background: #1A1A1A;
    padding: 20px;
}

.btnEpisodios{
    margin: 0px 20px 20px 20px; 
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: #00ff00;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

.btnEpisodios:hover {
    background-color: green;
    border: 2px solid green;
    color: black;
}


.episodes{
    position: relative;
    background-color: #1A1A1A;
    margin: auto;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}


/*-----------------------------------------------TABLET---------------------------------*/


@media screen and (min-width: 768px){

    /*---MENU---*/

   .menu ul li:hover ul{
       display: none;
   }

   /*---BANNER---*/

   .banner img{
       width: auto;
       max-width: 300px;
   }

   /*----MODAL----*/

   .contenido-modal{
    
    width: 100%;
    max-width: 300px;   
}

.close{
    font-size: 25px;
}

.nameModal{
    font-size: 20px; 
}

small{
    font-size: 20px;
}

.textModal{
    font-size: 25px;
}

.btnEpisodios{
    font-size: 20px; 
}

/*-------------------------------------------------ESCRITORIO--------------------------*/


@media screen and (min-width: 1280px){

    main{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .contenedor{
        width: 100%;
        max-width: 1280px;
    }

    .menu .buscador{
        border-bottom: none;
    }


        /*---MENU----*/
    
        .menu{
            position: static;
            width: auto;
            height: auto;
            transform: translateX(0%);
            float: right;
            display: flex;
        }
    
        .menu a{
            border: none;
        }
    
        header label {
            display: none;
        }
    
        .menu ul{
            display: flex;
        }
    
        .menu ul li:hover ul{
            display: block;
            position: absolute;
            background: rgba(0, 255, 0, 0.5);
            color: black;
        }
      
    
        /*---BANNER----*/
    
        .banner img{
            width: 100%;
            max-width: 400px;
        }
    
        .banner2 img{
            width: auto;
            max-width: 400px;
        }