* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background:url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 80px;
    background: black;
    color: white;
    padding: 10px;
    font-family: 'Special Elite', cursive;
}

.image-logo{
    float: left;
}

/*---------------------------------------------MENU--------------------------------------*/

#menu-bar{
    display: none;   
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 150vh;
    background: black;
    transition: all 0.9s;
    transform: translateX(100%);
}

.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid rgb(0, 255, 0);
}
    
.menu a:hover{
    background: rgba(0, 255, 0, 0.5);
    color: black;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

.menu ul{
    list-style: none;
}

.menu ul ul{
    display: none;
}

.menu a span {
    margin-left: 10px;
}

.menu ul li:hover ul{
    display: none;
}

/*--------------------------------------BANNER-------------------------------*/

.banner {
    margin-top: 20px;
    text-align: center;
}
.banner img{
    width: 100%;
    max-width: 150px;
}

.banner2{
    margin: 0;
    text-align: center;
}

.banner2 img{
    width: 100%;
    max-width: 300px;
}

/*----------------------------------------HISTORIA----------------------------------*/

.historia{
    text-align: center;
    background-color: #1A1A1A;
    margin: 20px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;  
    padding: 20px;
    margin-bottom: 20px;
}

.historia p{
    margin-top: 20px;
}

.titulo{
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #00FF00;
    font-family: 'Special Elite', cursive;
}

.enlace{
    text-decoration: none;
    color: #00FF00;
}

/*--------------------------------------BLOG-------------------------------------*/
.blog{
    text-align: center;
    background-color: #1A1A1A;
    margin: 20px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.blog article{
    margin: 20px;
}

.blog img{
    width: 100%;
    max-width: 280px;
}

.blog h2{
    width: 100%;
    max-width: 280px;
    height: 50px;
    background-color: black;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.blog h2 a{
    text-decoration: none;
    color:white;
    text-align: center;
    
}

/*--------------------------------------------FOOTER-------------------------------*/

.cont02{
    width: 100%;
    height: 120px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    padding: 20px 20px;
    margin: 0;
}

/*-----------------------------------------------TABLET---------------------------------*/


@media screen and (min-width: 768px){

     /*---MENU---*/

    .menu ul li:hover ul{
        display: none;
    }

    /*---BANNER---*/

    .banner img{
        width: auto;
        max-width: 250px;
    }

    /*---HISTORIA---*/

    .historia p{
        margin: 0 20px 0 20px;
    }

    .blog{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center; 
    }

    .blog img{
        width: 100%;
        max-width: 300px;
    }

    .blog h2{
        font-size: 20px;
        width: 100%;
        max-width: 300px;
    }

}

/*-------------------------------------------------ESCRITORIO--------------------------*/


@media screen and (min-width: 1280px){
    
    /*---MENU----*/

    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .menu a{
        border: none;
    }

    header label {
        display: none;
    }

    .menu ul{
        display: flex;
    }

    .menu ul li:hover ul{
        display: block;
        position: absolute;
        background: rgba(0, 255, 0, 0.5);
        color: black;
    }
  

    /*---BANNER----*/

    .banner img{
        width: auto;
        max-width: 300px;
    }

    .banner2 img{
        width: auto;
        max-width: 400px;
    }

    /*----HISTORIA---*/

    .historia p{
        margin: 0 300px 0 300px;
    }

    .blog img{
        width: 100%;
        max-width: 300px;
    }

    .blog h2{
        width: 100%;
        max-width: 300px;
        font-size: 20px;
    }

}




.name{
    color: white;
}